<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/addalbum" method="POST">
        <label for="title">Title: </label>
            <input type="text" name="title" id="title">

        <br>
        <label for="artist">Artist: </label>
            <input type="text" name="artist" id="artist">

        <br>
        <label for="songCount">Song Count: </label>
        <input type="number" name="songCount" id="songCount">
        <br>

        <label for="length">Length:  </label>
        <input type="number" name="length" id="length">
        <br>

        <label for="imageUrl">Image URL: </label>
        <input type="text" name="imageUrl" id="imageUrl">
        <br>

        <input type="submit" value="Add Album">
    </form>
</body>
</html>